body {
   font-family: 'Open Sans', sans-serif;
   color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
   margin-bottom: 0;
}

p {
   line-height: 30px;
}
.bg-gray {
   background-color: #424242;
}

.c-gray {
   color: #666;
}

button:focus,
input:focus {
   outline: none;
   box-shadow: none !important;
}

.theme-bg {
   background: #1c54d7;
}

.theme-color {
   color: #0063ff;
}

.btn {
   border-radius: 5px;
   transition: all 0.3s ease;
   padding: 0.6rem 2rem;
}

.btn-theme {
   background-color: #1c54d7;
   color: #fff;
}

.btn-theme:hover {
   color: #fff;
   background-color: #0021a3;
}

.btn-outline-theme {
   border: 1px solid #fff;
   border-radius: 5px;
   color: #fff;
   background: #1c54d7;
}

.navbar .btn-theme {
   padding: 0.3rem 1rem;
}

.btn-theme-border {
   border: 1px solid #1c54d7;
   color: #454545;
   background: transparent;
   border-radius: 5px;
}

.btn-credential {
   background: transparent;
   border-radius: 5px;
   border: 1px solid #111;
   font-weight: 600;
   padding: 0.4rem 2rem;
}

.btn-credential:hover {
   border: 1px solid #1c54d7;
}

.btn-credential:hover,
.btn-theme-border:hover {
   background: #1c54d7;
   color: #fff;
}

.bg-light-gray {
   background-color: #f0f0f0;
}

.btn-outline-theme:hover {
   color: #fff;
   background-color: #0021a3;
}

.title-head {
   color: #000;
   font-weight: 600;
   font-size: 30px;
   line-height: 40px;
}

.title-bold {
   font-size: 40px;
   color: #666;
   font-weight: 700;
}

.medium-text {
   color: #666;
   font-size: 17px;
}

.home-slide {
   height: 100vh;
   position: relative;
   background-size: cover !important;
}

.flex-center {
   display: flex;
   justify-content: center;
   align-items: center;
}

.center-captions {
   padding: 15px 60px;
   border: 2px solid #fff;
   border-radius: 5px;
}

.navbar-light .navbar-nav .nav-link {
   color: #111;
   font-weight: 600;
}

.logo {
   width: 255px;
}

.navbar-brand {
   position: relative;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show > .nav-link {
   color: #1c54d7;
}

@media (min-width: 992px) {
   .navbar-expand-lg .navbar-nav .nav-link {
      padding-right: 1.5rem;
      padding-left: 1.5rem;
   }
   header form {
      padding-left: 1.5rem;
   }
   .about-details .medium-text {
      padding-right: 70px;
   }
}

.search-wrapper-home .search-body {
   position: relative;
   background-color: #fff;
   padding: 25px;
   border-top-right-radius: 5px;
   border-top-left-radius: 5px;
   border-left: 1px solid #f0f0f0;
   border-right: 1px solid #f0f0f0;
   margin-top: -170px;
}

.search-body .nav-tabs .nav-link {
   background-color: #c9c9c9;
   border-radius: 5px 5px 0 0;
   padding: 10px 20px;
   color: #fff;
   margin-right: 10px;
   margin-bottom: 0;
}

.search-body .nav-tabs {
   border-bottom: transparent;
}

.search-body .nav-tabs .nav-link:hover,
.search-body .nav-tabs .nav-link.active {
   background-color: #1c54d7;
   border-color: #1c54d7;
}

.search-body .tab-content-body {
   border: 1px solid #c9c9c9;
   padding: 20px;
   border-radius: 0 5px 5px 5px;
}

.search-body .dropdown .btn {
   background-color: #fff;
   width: 100%;
}

.search-body .form-control {
   height: 55px;
   border-radius: 4px;
   border-color: #dddddd;
   padding: 0.85rem 0.75rem;
}

.search-body .dropdown {
   position: relative;
   font-size: 14px;
   color: #333;
}

.search-body .dropdown .dropdown-list {
   padding: 12px;
   background: #fff;
   position: absolute;
   top: 55px;
   left: 2px;
   right: 2px;
   box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.15);
   transform-origin: 50% 0;
   transform: scale(1, 0);
   transition: transform 0.15s ease-in-out 0.15s;
   max-height: 66vh;
   width: 550px;
   border-bottom-right-radius: 10px;
   border-bottom-left-radius: 10px;
   z-index: 5;
}

.search-body .dropdown .dropdown-list .d-flex {
   flex-wrap: wrap;
}

.search-body .dropdown .dropdown-option {
   display: block;
   padding: 8px 12px;
   opacity: 0;
   transition: opacity 0.15s ease-in-out;
   width: 235px;
}

.search-body .dropdown.on .dropdown-label:before,
.search-body .dropdown .dropdown-label:before {
   font-family: 'Font Awesome 6 Free';
   font-style: normal;
   font-weight: 900;
   float: right;
}

.search-body .dropdown .dropdown-label:before {
   content: '\f078';
}

.search-body .dropdown.on .dropdown-list {
   transform: scale(1, 1);
   transition-delay: 0s;
}

.search-body .dropdown.on .dropdown-list .dropdown-option {
   opacity: 1;
   transition-delay: 0.2s;
}

.search-body .dropdown.on .dropdown-label:before {
   content: '\F077';
}

.search-body .dropdown [type='checkbox'] {
   position: relative;
   top: -1px;
   margin-right: 4px;
}

#state-list.dropdown-menu {
   padding: 0.5rem 1.5rem;
}
.card-list {
   position: relative;
   border-radius: 5px;
   transition: all 0.4s ease;
   margin-bottom: 35px;
}

.card-list:hover {
   transform: translateY(-5px);
}

.card-shadow {
   box-shadow: 0px 3.2px 16px 0px rgba(0, 0, 0, 0.2);
}
.card-list .card-list-image {
   position: relative;
   overflow: hidden;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
}

.card-list .card-list-body {
   padding: 20px;
   background-color: #fff;
}

.card-list .card-list-head p {
   color: #000;
   font-weight: 700;
}

.card-list .card-list-features {
   position: relative;
}

.card-list-features p {
   font-size: 14px;
}

.card-list-price .location {
   max-width: 240px;
}

.card-list .card-list-features span {
   font-size: 13px;
   display: inline-flex;
   border-right: 1px solid #000;
   padding-right: 10px;
   padding-left: 10px;
}

.card-list .card-list-features span:last-child {
   border-right: transparent;
}

.card-list .card-list-features span:first-child {
   padding-left: 0;
}

.card-list .card-list-features .location span {
   border-right: none;
   padding-right: 0;
}

.card-list .card-list-price p {
   font-size: 15px;
   /* font-weight: 700; */
}

.card-list .card-list-price .price {
   font-size: 18px;
}

.card-image {
   position: relative;
   overflow: hidden;
   display: block;
   transition: all 0.5s ease-out;
}

.card-image img {
   transition: all 0.5s ease-out;
}

.card-image::after {
   position: absolute;
   width: 200%;
   height: 0%;
   left: 50%;
   top: 50%;
   background-color: rgba(255, 255, 255, 0.3);
   transform: translate(-50%, -50%) rotate(-45deg);
   content: '';
   z-index: 1;
}

.card-list:hover .card-image::after {
   height: 250%;
   transition: all 600ms linear;
   background-color: transparent;
}

.card-list:hover .card-image img {
   transform: scale(1.1);
}

.card-list .btn {
   padding: 0.2rem 0.5rem;
   font-size: 14px;
}

.exclusive-selection.owl-carousel .owl-nav {
   display: block !important;
   position: absolute;
   top: -120px;
   width: 10%;
   right: 2%;
   text-align: right;
   margin-top: 0;
}

.exclusive-selection.owl-theme .owl-nav [class*='owl-'] {
   background: #e6e6e6;
   width: 50px;
   height: 50px;
   border-radius: 50%;
   border: transparent;
   transition: all 0.4s ease;
}

.exclusive-selection.owl-theme .owl-nav button:hover {
   background: #707070;
}

.properties-sale .card-list .card-list-head p {
   color: #141b2d;
   font-size: 20px;
   font-weight: 700;
}

.center-caption {
   background: url(../Assets/images/center-bg.jpg) no-repeat;
   background-size: cover;
   width: 100%;
   position: relative;
   min-height: 375px;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

/* .center-caption:before {
   content: '';
   background: rgb(36, 36, 36);
   background-repeat: no-repeat;
   position: absolute;
   top: 0;
   bottom: 0;
   left: 40%;
   right: 5%;
   z-index: 0;
} */

.center-bg .our-caption {
   width: 78%;
   position: relative;
}

.our-caption h1 {
   font-size: 55px;
   color: #1955d4;
}

.footer {
   background: #000025;
   color: #fff;
}

.footer .footer-about p {
   font-size: 14px;
   font-weight: 300;
   color: rgba(255, 255, 255, 0.55);
}

.footer .footer-social span {
   padding-right: 25px;
}

.footer .footer-social span a {
   color: #fff;
   font-size: 22px;
   display: inline-block;
   transition: all 0.3s ease;
}

.footer-menu li a:hover,
.footer .footer-social span a:hover {
   color: #0063ff;
}

.footer .footer-policy p {
   color: #fff;
}

.footer .btn {
   font-size: 14px;
}

.footer .footer-menu h3 {
   color: #fff;
   font-size: 24px;
   font-weight: 600;
}

.footer-menu li a {
   color: rgba(255, 255, 255, 0.55);
   line-height: 35px;
   transition: all 0.3s ease;
   text-decoration: none;
}

.footer-logo {
   width: 75%;
}

.listing-pagination .pagination {
   justify-content: center;
}

.page-item:first-child .page-link {
   background: rgba(145, 158, 171, 1);
   color: #fff;
}

.page-link {
   color: rgba(33, 43, 54, 1);
   font-size: 14px;
   font-weight: 700;
}

.login-modal .modal-content {
   background: #1b54d7;
   padding: 0 30px 30px;
   border-radius: 0;
}

.login-modal .modal-body,
.login-modal .modal-footer {
   background-color: #fff;
}

.login-modal .modal-body {
   border-radius: 10px;
   padding: 2px;
}

.login-modal .modal-header {
   border-bottom: transparent;
   margin-bottom: 10px;
}

.login-modal .modal-body .left-banner img {
   border-top-left-radius: 10px;
   border-bottom-left-radius: 10px;
}

.login-modal .modal-body .modal-logo {
   width: 170px;
}

.login-modal .modal-body .form-column {
   padding: 0px 30px 0px 15px;
}

.form-tab .nav-link {
   text-transform: uppercase;
   color: #000;
   font-size: 18px;
   font-weight: 600;
   margin-bottom: 0;
}

.form-tab .nav-tabs .nav-link:focus,
.form-tab .nav-tabs .nav-link:hover,
.form-tab .nav-tabs .nav-item.show .nav-link,
.form-tab .nav-tabs .nav-link.active {
   border-color: transparent;
}

.form-tab .nav-tabs .nav-link.active {
   border-bottom: 4px solid #0063ff;
   color: #000;
}

.form-tab .nav-tabs {
   border-bottom: 2px solid rgba(102, 102, 102, 1);
}

.form-tab label {
   color: rgba(102, 102, 102, 1);
   font-weight: 600;
   font-size: 13px;
   padding-bottom: 10px;
}

.form-tab .form-control {
   height: 50px;
   border-radius: 5px;
   border: 1px solid rgba(102, 102, 102, 1);
}

.login-modal .btn-close {
   background: transparent;
   color: #fff;
   font-size: 22px;
}

.pass-view {
   cursor: pointer;
   height: 30px;
   width: 30px;
   position: absolute;
   right: 0;
   bottom: 5px;
}

.form-tab .form-check-input[type='checkbox'] {
   border-radius: 0;
   border: 1px solid rgba(102, 102, 102, 1);
}

.f-password {
   font-size: 12px;
   font-weight: 400;
   color: rgba(102, 102, 102, 1);
}

.form-tab-footer p {
   color: #666;
   font-size: 13px;
}

.login-modal .left-banner img {
   height: 100%;
   object-fit: cover;
}

.property-inner-head {
   background-color: #f9f9f9;
   border: 1px solid rgba(102, 102, 102, 0.5);
   border-radius: 5px;
   padding: 20px 35px;
}

.property-inner-head h6 {
   color: #000;
   font-size: 18px;
   font-weight: 700;
}

.property-inner-head .itinary-box p {
   color: #666;
   font-weight: 600;
}

.property-inner-head .itinary-box {
   padding: 5px 40px 5px 30px;
}

.property-inner-head .itinary-box.border-left {
   border-left: 1px solid #999;
}

.product-info-box {
   /* background-color: #0063ff; */
   padding: 0 25px;
   color: #111;
   border-radius: 14px;
}

.inner-column {
   border-bottom: 1px solid #dbdbdb;
}

.contact-agent-form {
   background-color: #fff;
   padding: 30px 35px 38px;
}

.contact-agent-form .form-control {
   border: 1px solid rgba(221, 221, 221, 1);
   border-radius: 1px;
   height: 55px;
}

.contact-agent-form textarea.form-control {
   height: auto;
}

.sub-title {
   font-size: 18px;
   font-weight: 600;
}

#sync1 .item {
   text-align: center;
}

#sync2 .item {
   background: #c9c9c9;
   margin: 2px;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
   text-align: center;
   cursor: pointer;
}
#sync2 .item h1 {
   font-size: 18px;
}

.owl-theme .owl-nav {
   margin-top: 0;
}
.owl-theme .owl-nav [class*='owl-'] {
   transition: all 0.3s ease;
}
.owl-theme .owl-nav [class*='owl-'].disabled:hover {
   background-color: #d6d6d6;
}

#sync1.owl-theme {
   position: relative;
}
#sync1.owl-theme .owl-next,
#sync1.owl-theme .owl-prev {
   width: 40px;
   height: 40px;
   height: 40px;
   margin-top: -20px;
   position: absolute;
   top: 50%;
   border-radius: 50%;
   border: transparent;
}

#sync1.owl-theme .owl-next svg,
#sync1.owl-theme .owl-prev svg {
   width: 16px;
   height: 16px;
}

#sync1.owl-theme .owl-prev {
   left: 10px;
}

#sync1.owl-theme .owl-next {
   right: 10px;
}

.ifrm {
   border: none;
   width: 100%;
   margin-top: 50px;
}

.footer-menu .h3 {
   font-size: 1.2rem;
}

#sync2 .owl-stage-outer {
   width: 100%;
   /* margin-left: 18px; */
}

#sync2 .owl-nav [class*='owl-'] {
   margin: 0;
}

#sync2 .owl-nav {
   position: absolute;
   top: 0;
   width: 100%;
   bottom: 0;
}

#sync2 .owl-nav .owl-next {
   right: 0;
   position: absolute;
   top: 0;
   bottom: 0;
}

#sync2 .owl-nav .owl-prev {
   left: 0;
   position: absolute;
   top: 0;
   bottom: 0;
}

#sync2 .owl-nav [class*='owl-'] {
   background: #111;
}

.agent-profile {
   width: 90px;
   height: 90px;
   border-radius: 50%;
   overflow: hidden;
   position: relative;
}

textarea.form-control:focus {
   outline: none;
   box-shadow: none;
}

/* dashboard */

.sidebar {
   height: 100vh;
   position: fixed;
   top: 0;
   left: 0;
   background-color: #000025;
   color: white;
   width: 240px;
   padding-top: 72px;
}

.sidebar .nav-link {
   color: #ccc;
   font-size: 15px;
}

.sidebar .sidebar-menu {
   overflow-y: scroll;
   max-height: 70vh;
}

.sidebar .nav-link:hover,
.sidebar .nav-link.active {
   color: #fff;
   background-color: #1a55d5;
}

.main-content {
   margin-left: 240px;
   padding: 72px 40px;
}

.dashboard-menu {
   border-bottom: 1px solid #bebebe;
}

.dashboard-menu .nav-link.dropdown-toggle span {
   width: 40px;
   height: 40px;
   border-radius: 50%;
   background-color: #1b54d7;
   color: #fff;
   display: flex;
   justify-content: center;
   align-items: center;
}

.dashboard-menu .nav-link.dropdown-toggle {
   display: flex;
   align-items: center;
}

.sidebar .profile-block {
   padding: 15px;
   background-color: #00004a;
}

.profile-block .user-profile {
   width: 75px;
   height: 75px;
   border-radius: 50%;
   position: relative;
   overflow: hidden;
   margin: 0 auto;
}

.dashboard-list-head {
   padding: 10px;
   background-color: #141b2d;
   color: #616161;
   font-size: 15px;
}

.contact-profile {
   border-radius: 5px;
}

.mandatory {
   color: #b22222;
}

.form-dashboard label {
   font-size: 15px;
}

/* country_css */

.iti__selected-flag {
   top: 6px;
   height: 50px;
   border-radius: 4px;
   transition: 0.3s;
}
input#phone {
   padding-left: 47px !important;
   top: 6px;
}
.intl-tel-input .flag-dropdown .selected-flag {
   padding: 11px 16px 11px 6px;
}
.intl-tel-input {
   z-index: 99;
   width: 100%;
}
.iti-flag {
   box-shadow: none;
}
.intl-tel-input .selected-flag:focus {
   outline: none;
}
.iti--allow-dropdown .iti__flag-container:hover .iti__selected-flag {
   background-color: rgba(0, 0, 0, 0.05);
}
.iti--allow-dropdown input {
   padding-right: 6px;
   padding-left: 52px;
   margin-left: 0;
}
.iti__country-list {
   border-radius: 4px !important;
   z-index: 999 !important;
   box-shadow: 0 0 16px 0 rgb(0 0 0 / 8%) !important;
   border: 1px solid #ececec !important;
   width: 270px !important;
}

.iti {
   width: 100%;
}

.form-dashboard .form-control {
   height: 50px;
}

.form-dashboard .form-check-label {
   font-size: 14px;
   color: #323232;
}

.edit-profile {
   cursor: pointer;
}
